{% extends "inicio/encabezado.html" %} 

{% block titulo %} Principal {% endblock titulo %}

{% block imagen %} {%load static%} {%static './inicio/images/home.png'%} {% endblock imagen %}

{% block Nombre_Pag %} Principal {% endblock %}

{% block subtitulo %} Dsm {% endblock subtitulo %} 

{% block Encabezado_Title %} Alumnos {% endblock Encabezado_Title %} 

{% block subte%}Lista de Alumnos{% endblock subte %}

{% block contenido %}

<!--Tabla de Alumnos -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Matricula</th>
      <th>Nombre</th>
      <th>Carrera</th>
      <th>Turno</th>
    </tr>
  </thead>
  <tbody>
    {% for alumno in alumnos %}
      <tr>
        <td class="text-center">
          <img src="{{alumno.imagen.url}}" alt="" class="img-media">
        </td>
        <td class="text-semibold">{{alumno.matricula}}</td>
        <td class="muted">{{alumno.nombre}}</td>
        <td class="muted">{{alumno.carrera}}</td>
        <td class="muted">{{alumno.turno}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<!-- /Tabla de alumnos -->
{% endblock contenido %}
